// Global Configuration
@use './normalize';
@use './index' as v;

//Global Layout
@use './layout/header';
@use './layout/footer';

// HomePage
@use './home/home_main';

// RestaurantPage
@use './restaurant/restaurant_main';

//responsive
@use './responsive/main';

body {
  font-family: v.$roboto;
}

.logo {
  font-weight: lighter;
  font-family: v.$shrikhand;
}
