@use '../index' as v;

footer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: rgb(51, 51, 51);
  color: white;
  .logo {
    font-size: 18px;
    margin-bottom: 21px;
  }

  .footer-info {
    display: flex;
    i {
      width: 12px;
      margin-right: 18px;
    }
  }

  p {
    margin-bottom: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: translate(8px);
    }
  }
}
