.geo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 88px;
  padding-bottom: 16px;
  background-color: rgb(235, 235, 235);
  z-index: 0;
  p {
    position: relative;
    font-size: 17px;
  }
  i {
    left: -32px;
    position: absolute;
    margin-right: 18px;
  }
}
