@use '../index' as v;

.work-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 54px;
  h2 {
    align-self: flex-start;
    margin-left: 16px;
    margin-bottom: 21px;
  }
}

.work-etape-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.work-etape {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 87%;
  height: 74px;
  margin-bottom: 16px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-color: rgb(248, 248, 248);
  cursor: pointer;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: v.$primary-color;
    color: white;
    font-size: 12px;
  }

  i {
    width: 24px;
    margin-left: 32px;
    font-size: 19px;
    color: grey;
  }

  p {
    font-size: 16px;
    font-weight: 550;
    margin-left: 26px;
  }

  &:hover {
    background-color:#9256dc2c;
  }

  &:hover > i {
    color: v.$primary-color;
  }
}
