@media (min-width: 992px) {
  // Fonctionnement
  .work-container {
    width: 95%;
    margin: 0 auto;

    h2 {
      margin-left: 0;
    }
  }

  .work-etape-container {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .work-etape:not(:first-child) {
      margin-left: 32px;
    }
  }
  // Restaurants
  .restaurant-container {
    width: 95%;
    margin: 0 auto;

    h2 {
      margin-left: 0;
    }
  }

  .restaurant-card-container {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .restaurant-card {
      width: 48.5%;
      margin-right: 14px;
    }
  }
}
